<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newt.mapper.vo.UserVoMapper">
    <resultMap id="BaseResultMap" type="com.newt.pojo.vo.UserVo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="EMAIL" jdbcType="VARCHAR" property="email" />
        <result column="LOGIN_IP" jdbcType="VARCHAR" property="loginIp" />
        <result column="LOGIN_NUM" jdbcType="INTEGER" property="loginNum" />
        <result column="LOGIN_TIME" jdbcType="TIMESTAMP" property="loginTime" />
        <result column="OLD_LOGIN_IP" jdbcType="VARCHAR" property="oldLoginIp" />
        <result column="OLD_LOGIN_TIME" jdbcType="TIMESTAMP" property="oldLoginTime" />
        <result column="PICK_NAME" jdbcType="VARCHAR" property="pickName" />
        <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
        <result column="SIGNATURE" jdbcType="VARCHAR" property="signature" />
        <result column="STATE" jdbcType="INTEGER" property="state" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="USER_ICON" jdbcType="VARCHAR" property="userIcon" />
        <result column="FAVICON" jdbcType="VARCHAR" property="favicon" />
        <result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
    </resultMap>

</mapper>